body{
    display: block;
    align-items: center;
    background: linear-gradient(to top, #166d3b 0%, #cdfcbb 74%);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;

}
h1{
    background: linear-gradient(315deg, #f8ef42 0%, #057228 74%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 5s ease-in-out infinite;
    background-size: 400% 100%;
    padding: 70px 0;
    font-size: 50px;
    font-family: 'Sansita Swashed', cursive;
    }
    @keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
    }
#startpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}
#endpage{
    display:none;
}
form{
    width: max-content;
    height: 600px;
    display: none;
    margin: 100px auto;

}
input[type="radio"] {
    margin-left: 80px;
    float: left;
    
  }
  label{
      float: left;
  }

input {
    text-decoration: none;
    
    padding: 6px 16px;
  }
span{
    float: left;
    margin-left: 40px;
}
  
.button{
    background-color: #f1f1f1;
    color: black;
    border: transparent;
    box-shadow:7px 7px 5px #166d3b;
    border-radius: 5px;
    margin: 50px 50px 50px 50px; 
    padding: 10px 24px;
  }
  
  #previous {
    background-color: #f1f1f1;
    color: black;
    border-radius: 5px;
    border: transparent;
    float: left;
    margin: 50px 50px 50px 50px; 
  }
  
  #next {
    background-color: #166d3b;
    border: transparent;
    color: white;
    border-radius: 5px;
    float: right;
    margin: 50px 50px 50px 50px; 
  }
  